.numberBox{
    -fx-border-width: 0.5;
	-fx-border-color:grey;
	-fx-pref-width:85.7px;
	-fx-pref-height:40px;
}
.numberBox:hover{
	-fx-border-color:black;
	-fx-border-width:2;
}
.buttonHBox{
	-fx-pref-width:600px;
	-fx-pref-height:40px;
}

.generateButton{
	-fx-pref-width:65px;
	-fx-pref-height:30px;
}
.generateButton:hover{
	-fx-pref-width:90px;
	-fx-pref-width:35px;
}
.numberBoxFive{
   -fx-pref-width:118;
   -fx-border-width: 0.5;
   -fx-border-color:grey;
   -fx-pref-height:40px;
}
.numberBoxSix{
    -fx-pref-width:98;
    -fx-pref-border-width:0.5;
    -fx-border-color:grey;
    -fx-pref-height:40px;
}
.numberBoxSeven{
    -fx-pref-width:83;
    -fx-pref-border-width:0.5;
    -fx-border-color:grey;
    -fx-pref-height:40px;
}